.SkillsTitleGrid {
  padding: 3%;
}

.SkillsContentGrid {
  padding-top: 3%;
  padding-left: 8%;
  padding-right: 8%;
}

.SkillsStatsContainer {
  padding: 3%;
  text-align: center;
  /* border: 1px solid beige; */
  min-height: 15vh;
}

.SkillsHeader {
  font-family: "Courier Prime", monospace;
  font-style: normal;
  font-size: 90px;
  text-align: center;
  color: black;
}

.SkillsSemiHeader {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-size: 50px;
  color: black;
}

.SkillsBody {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.listItem {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.listKey {
  font-weight: 800;
}

.StatIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 6px solid black;
  border-radius: 10%;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  margin: 15%;
}

.StatInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  line-height: 2em;
}

.square {
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set a fixed height equal to the width */
  border: 2px solid black; /* Add a border */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Include border in the element's dimensions */
  margin: auto; /* Center the square within its container */
}

.SkillsParallax {
  background-color: #faf9f6;
  background-image: url("../../assets/images/Marven.jpg");

  color: white;
  min-height: 70vh;
  min-width: 20vh;

  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .SkillsBody {
    font-size: 16px;
    height: 40vh;
  }

  .listItem {
    font-size: 12px;
  }

  .ListItem {
    padding: 0%;
  }

  .SkillsParallax {
    /* display: none; */
    min-height: 40vh;
    min-width: 50%;
  }

  .SkillsHeader {
    margin-top: 10%;
    font-size: 38px;
  }

  .SkillsSemiHeader {
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-size: 20px;
    color: black;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .SkillsBody {
    font-size: 20px;
    height: 25vh;
  }

  .listItem {
    font-size: 14px;
  }

  .ListItem {
    padding: 0%;
  }

  .SkillsParallax {
    min-height: 40vh;
    min-width: 50%;
  }

  .SkillsHeader {
    font-size: 28px;
  }

  .SkillsSemiHeader {
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-size: 30px;
    color: black;
  }
}

@media only screen and (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .SkillsParallax {
    display: block;
  }
}
